.main-container{
	background-color: pink;
	display: flex;
	height: 100vh;
	width: 100vw;
	border: 1px solid red;
	justify-content: space-between;
}

.left-user-list-container{
	border: 1px solid blue;
	width: 30%;
	margin: 90px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right-user-detail-container{
	border: 1px solid purple;
	width: 60%;
	margin: 90px 10px;
}

.create-user-btn{
	/* align-self: center; */
	width: 100%;
	height: 50px;
}

.new-user-form{
	display: flex;
	justify-content: center;
	margin-top: 30px;

}



.user-list{
	/* position: relative; */
	display: flex;
	flex-direction: column;
	height: 95%;
}

input{
	margin-top: 15px;
	width: 300px;
	margin-bottom: 40px;
	height: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
}